<tr id=<%= "question_#{question.id}" %>>
    <td><%= link_to question.id, edit_question_path(question), :remote => true %></td>
    <td><%= question.score %></td>
    <td><%= question.category_id %></td>
    <td><%= question.description %></td>
    <td><%= question.letter %></td>
    <td>
        <%= link_to  image_tag('mostrar.png'), question, :remote => true, :class => 'btn btn-mini' %>
        <%= link_to image_tag('editar1.png', :title => "Editar Equipos"), edit_question_path(question),  :remote => true, :class => 'btn btn-mini'%>
        <%= link_to image_tag('eliminar.png', :title => "Eliminar Equipos"), question, :data => { :confirm => 'Esta Seguro?' },
          :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %>
    </td>
</tr>