<%= simple_form_for(@team, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>
    <%= f.error_notification %>
    <%= display_base_errors @team %>

    <p><%= f.input :name %></p>
    <p><%= f.input :serial %></p>
    <p><%= f.input :mouse %></p>
    <p><%= f.input :charger %></p>
    <p><%= f.input :color %></p>
    <p><%= f.input :type_team %></p>
    <p><%= f.input :porter_id %></p>
    <p><%= f.input :user_id %></p>
    
    <div class="form-actions">
      <%= f.submit "guardar", :class => 'btn btn-primary' %>
      <%= link_to 'Atras', teams_path, :class => 'btn btn-small' %>
    </div>
<% end %>
