<%- model_class = Team -%>
	<div class="page-header">
  		<h1>Equipos</h1>
		<table class="table table-bordered table-hover" >
	    	<caption>
	    		<h3>Informacion</h3>
	    	</caption>
	    	<thead>
	    		<tr class="success">
	    			<th>Id</th>
	    			<th>Nombre</th>
	    			<th>Serial</th>
	    			<th>Mouse</th>
	    			<th>Cargador</th>
	    			<th>color</th>
	    			<th>Tipo_Equipo</th>
	    			<th>Portero</th>
	    			<th>Usuario</th>
	    		</tr>
	    	</thead>
	    	<tbody>
	    		<tr class="warning">
				    <td><p><%= @team.id %></p></td>
				    <td><p><%= @team.name %></p></td>
				    <td><p><%= @team.serial %></p></td>
				    <td><p><%= @team.mouse %></p></td>
				    <td><p><%= @team.charger %></p></td>
				    <td><p><%= @team.color %></p></td>
				    <td><p><%= @team.type_team %></p></td>
				    <td><p><%= @team.porter_id %></p></td>
				    <td><p><%= @team.user_id %></p></td>
	    		</tr>
	    	</tbody>
	    </table>
	</div>
