<tr id=<%= "program_#{program.id}" %>>
    <td><%= link_to program.id, edit_program_path(program), :remote => true %></td>
    <td><%= program.name %></td>
    <td><%= program.center_id %></td>
    <td><%= program.description %></td>
    <td>
        <%= link_to  image_tag('mostrar.png'), program, :remote => true, :class => 'btn btn-mini' %>
        <%= link_to image_tag('editar1.png', :title => "Editar Equipos"), edit_program_path(program),  :remote => true, :class => 'btn btn-mini'%>
        <%= link_to image_tag('eliminar.png', :title => "Eliminar Equipos"), program, :data => { :confirm => 'Esta Seguro?' },
          :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %>
    </td>
</tr>


