<%= simple_form_for(@sheet, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>
    <%= f.error_notification %>
    <%= display_base_errors @sheet %>

    <p><%= f.input :code, :label => "Ficha",  :required => true   %></p>
    
    <p><%= f.label :program_id, :label => "Centro",  :required => true   %>
    <%= f.collection_select :program_id, Program.all, :id, :name %></p>
    	
    	 
    <div class="form-actions">
	    <%= f.submit "guardar", :class => 'btn btn-primary' %>
	    <%= link_to 'Atras', sheets_path, :class => 'btn btn-small' %>
  	</div>
<% end %>
