<%= simple_form_for(@sheet, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>
    <%= f.error_notification %>
    <%= display_base_errors @sheet %>

    <p><%= f.input :code %></p>
    <p><%= f.input :program_id %></p> 
    	
    <div class="form-actions">
	    <%= f.submit "guardar", :class => 'btn btn-primary' %>
	    <%= link_to 'Atras', sheets_path, :class => 'btn btn-small' %>
  	</div>
<% end %>
