<%- model_class = AreaCenter -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class='area_center'>
  <p><%= @area_center.id %></p>
  <p><%= @area_center.name %></p>
  <p><%= @area_center.extension %></p>
  <p><%= @area_center.center_id %></p>
  <p><%= @area_center.phone %></p>
  <p><%= @area_center.specification %></p>
</div>