<%- model_class = ModifyUser -%>
<div class="page-header">
  <h1>Modificaciones Usuarios</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>change</th>
      <th>user_id</th>
      <th>description</th>
      <th>created_at</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @modify_users.each do |modify_user| %>
      <tr>
        <td><%= link_to modify_user.id, modify_user_path(modify_user) %></td>
        <td><%= modify_user.change %></td>
        <td><%= modify_user.user_id %></td>
        <td><%= modify_user.description %></td>
        <td><%=l modify_user.created_at %></td>
        <td>
          <%= link_to 'Editar', edit_modify_user_path(modify_user), :class => 'btn btn-mini' %>
          <%= link_to 'Eliminar', modify_user_path(modify_user),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Nueva Modificacion Usuario', new_modify_user_path, :class => 'btn btn-primary' %>
