<%= simple_form_for(@result, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>
    <%= f.error_notification %>
    <%= display_base_errors @result %>

  <p><%= f.input :answer_id %></p>
  <p><%= f.input :question_id %></p>
  <p><%= f.input :user_id %></p>
  <p><%= f.input :ok %></p>
    
  <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-primary' %>
    <%= link_to 'Atras', results_path, :class => 'btn btn-small' %>
  </div>
<% end %>
