<%- model_class = Result -%>
	<div class="page-header">
  		<h1>Resultados</h1>
		<table class="table table-bordered table-hover" >
	    	<caption>
	    		<h3>Informacion</h3>
	    	</caption>
	    	<thead>
	    		<tr class="success">
	    			<th>Id</th>
	    			<th>Repuesta</th>
	    			<th>Pregunta</th>
	    			<th>Letra</th>
	    		</tr>
	    	</thead>
	    	<tbody>
	    		<tr class="warning">
				    <td><p><%= @result.id %></p></td>
				    <td><p><%= @result.answer_id %></p></td>
				    <td><p><%= @result.question_id %></p></td>
				    <td><p><%= @result.user_id %></p></td>
				     <td><p><%= @result.ok %></p></td> 
	    		</tr>
	    	</tbody>
	    </table>
	</div>
