<%= simple_form_for(@rol, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>
    <%= f.error_notification %>
    <%= display_base_errors @rol %>

   <p><%= f.input :name %></p>
   <p><%= f.input :acronym %></p>
     	
    <div class="form-actions">
	    <%= f.submit "guardar", :class => 'btn btn-primary' %>
	    <%= link_to 'Atras', rols_path, :class => 'btn btn-small' %>
  	</div>
<% end %>
