<%= simple_form_for(@answer, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>
    <%= f.error_notification %>
    <%= display_base_errors @answer %>
    <p><%= f.input :answer, :label => "Repuestas",  :required => true  %></p>
    <p><%= f.label :question_id, :label => "Pregunta",  :required => true   %>
    	<%= f.collection_select :question_id , Question.all, :id, :score %></p>
  	<p><%= f.input :letter, :label => "Letra",  :required => true  %></p>
  	
    <div class="form-actions">
	    <%= f.submit "guardar", :class => 'btn btn-primary' %>
	    <%= link_to 'Atras', answers_path, :class => 'btn btn-small' %>
  	</div>
<% end %>
