<div id='admin' class="page-header">
  <h3>Administraci칩n </h3>
</div>

<div id='tab' class="well">

    <table id='tab'  class="table table-striped">
      <thead>
        <tr>
          <th>Maestra</th>
          <th>Descripci칩n</th>
        </tr>
      </thead>

      <tbody>
         <tr>
             <td><%= link_to "Usuarios", users_path %></td>
             <td> Administraci칩n de los usuarios del Sistema</td>
         </tr>
         <tr>
             <td><%= link_to "Responsables", responsibles_path %></td>
             <td> Responsables de 침as areas del Sena</td>
         </tr>
         <tr>
             <td><%= link_to "Roles", roles_path %></td>
             <td>Roles</td>
         </tr>
         <tr>
             <td><%= link_to "Rhs", rhs_path %></td>
             <td>Equipos </td>
         </tr>
         <tr>
             <td><%= link_to "Tipos Documentos", documents_path %></td>
             <td>Tipos Documentos</td>
         </tr>
         <tr>
             <td><%= link_to "Materiales", materials_path %></td>
             <td>Tipos de materiales</td>
         </tr>
         <tr>
             <td><%= link_to "Sugerencias", suggestions_path %></td>
             <td>Departamentos</td>
         </tr>
      </tbody>

    </table>
   <%= link_to image_tag('next.png', :title=>'Siguiente', :width=>'30'),admin2_path  %>
</div>
