<%= simple_form_for(@code, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>
    <%= f.error_notification %>
    <%= display_base_errors @code %>

    <p><%= f.input :code, :label => "Codigo",  :required => true  %></p>
  
    <div class="form-actions">
	    <%= f.submit "guardar", :class => 'btn btn-primary' %>
	    <%= link_to 'Atras', codes_path, :class => 'btn btn-small' %>
  	</div>
<% end %>
