<%= simple_form_for(@document, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>
    <%= f.error_notification %>
    <%= display_base_errors @document %>
    <p>
        <%= f.input :name %>
    </p>
    <p>
        <%= f.input :initials %>
    </p>
    
    <div class="form-actions">
        <%= f.submit "guardar", :class => 'btn btn-primary' %>
        <%= link_to 'Atras', documents_path, :class => 'btn btn-small' %>
    </div>
<% end %>
