<%= simple_form_for(@responsible, :html => { :class => 'form-horizontal' }, :remote => true)  do |f| %>

  <%= f.error_notification %>
  <%= display_base_errors @responsible %>

  <%= f.input :name %>
  <%= f.input :surname %>
  <%= f.input :extension %>
  <%= f.input :document_id %>
  <%= f.input :identification %>
  <%= f.input :genre %>
  <%= f.input :area_center_id %>
  <%= f.input :phone %>
  <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-primary' %>
    <%= link_to 'Atras', responsibles_path, :class => 'btn btn-small' %>
  </div>
<% end %>
