<%- model_class = Responsible -%>
	<div class="page-header">
  		<h1>Responsables</h1>
		<table class="table table-bordered table-hover" >
	    	<caption>
	    		<h3>Informacion</h3>
	    	</caption>
	    	<thead>
	    		<tr class="success">
	    			<th>Id</th>
	    			<th>Nombres</th>
	    		    <th>Apellidos</th>
	    		    <th>Extension</th>
	    		    <th>Documento</th>
	    		    <th>Genero</th>
	    		    <th>Telefono</th>
	    		</tr>
	    	</thead>
	    	<tbody>
	    		<tr class="warning">
				    <td><p><%= @responsible.id %></p></td>
				    <td><p><%= @responsible.name %></p></td>
				    <td><p><%= @responsible.surname %></p></td>
				    <td><p><%= @responsible.extension %></p></td>
				    <td><p><%= @responsible.document.name %></p></td>
				    <td><p><%= @responsible.genre %></p></td>
				    <td><p><%= @responsible.phone %></p></td>   
	    		</tr>
	    	</tbody>
	    </table>
	</div>
