<%= simple_form_for(@center_program, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>
    <%= f.error_notification %>
    <%= display_base_errors @center_program %>
    <p><%= f.input :center_id, :label => "Centro",  :required => true  %></p>
    <p><%= f.input :user_id, :label => "Usuario",  :required => true  %></p>
    <p><%= f.input :program_id, :label => "Programa",  :required => true  %></p>
    
    <div class="form-actions">
      <%= f.submit "guardar", :class => 'btn btn-primary' %>
      <%= link_to 'Atras', center_programs_path, :class => 'btn btn-small' %>
    </div>
<% end %>
