<%= simple_form_for @center_program, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :center_id %>
  <%= f.input :user_id %>
  <%= f.input :program_id %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                center_programs_path, :class => 'btn' %>
  </div>
<% end %>
