<%= simple_form_for(@survey, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>
    <%= f.error_notification %>
    <%= display_base_errors @survey %>

    <p><%= f.input :user_id %></p>
  	<p><%= f.input :description %></p> 	
  	
    <div class="form-actions">
	    <%= f.submit "guardar", :class => 'btn btn-primary' %>
	    <%= link_to 'Atras', surveys_path, :class => 'btn btn-small' %>
  	</div>
<% end %>
