<%= simple_form_for @format_survey, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :user_id %>
  <%= f.input :survey_id %>
  <%= f.input :answer_id %>
  <%= f.input :question_id %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                format_surveys_path, :class => 'btn' %>
  </div>
<% end %>
