<%- model_class = FormatSurvey -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:survey_id) %></th>
      <th><%= model_class.human_attribute_name(:answer_id) %></th>
      <th><%= model_class.human_attribute_name(:question_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @format_surveys.each do |format_survey| %>
      <tr>
        <td><%= link_to format_survey.id, format_survey_path(format_survey) %></td>
        <td><%= format_survey.name %></td>
        <td><%= format_survey.user_id %></td>
        <td><%= format_survey.survey_id %></td>
        <td><%= format_survey.answer_id %></td>
        <td><%= format_survey.question_id %></td>
        <td><%=l format_survey.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_format_survey_path(format_survey), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      format_survey_path(format_survey),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_format_survey_path,
            :class => 'btn btn-primary' %>
