<%= simple_form_for(@parking, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>
    <%= f.error_notification %>
    <%= display_base_errors @parking %>
    <p>
       <%= f.input :space_avaible %>
    </p>
    <p>
      <%= f.input :location %>
    </p>
    <p>
      <%= f.input :area_id %>
    </p>

     <p>
       <%= f.input :vehicle_id %>
    </p>
    <p>
      <%= f.input :description %>
    </p>
    
    <div class="form-actions">
      <%= f.submit "guardar", :class => 'btn btn-primary' %>
      <%= link_to 'Atras', parkings_path, :class => 'btn btn-small' %>
    </div>
<% end %>
