<%= simple_form_for @parking, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :space_avaible %>
  <%= f.input :location %>
  <%= f.input :area_id %>
  <%= f.input :vehicle_id %>
  <%= f.input :description %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                parkings_path, :class => 'btn' %>
  </div>
<% end %>
