<tr id=<%= "category_#{category.id}" %>>
  <td><%= link_to category.id, edit_category_path(category), :remote => true %></td>
  <td><%= category.name %></td>
    <td>
        <%= link_to  image_tag('mostrar.png'), category,     :remote => true, :class => 'btn btn-mini' %>
        <%= link_to image_tag('editar1.png', :title => "Editar Equipos"), edit_category_path(category),  :remote => true,
          :class => 'btn btn-mini'%>
        <%= link_to image_tag('eliminar.png', :title => "Eliminar Equipos"), category, :data => { :confirm => 'Esta Seguro?' },
          :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %>
</tr>
