<%- model_class = Authorization -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class='authorization'>
  <p><%= image_tag @authorization.avatar.url(:thumb) %></p>
  <p><%= @authorization.id %></p>
  <p><%= @authorization.name %></p>
  <p><%= @authorization.surname %></p>
  <p><%= @authorization.genre %></p>
  <p><%= @authorization.document_id %></p>
  <p><%= @authorization.identification %></p>
  <p><%= @authorization.item_description %></p>
  <p><%= @authorization.charge %></p>
  <p><%= @authorization.phone %></p>
  <p><%= @authorization.avatar %></p>
  <p><%= @authorization.repair %></p>
  <p><%= @authorization.sample_property %></p>
  <p><%= @authorization.loan %></p>
  <p><%= @authorization.seminar %></p>
  <p><%= @authorization.course_elements %></p>
  <p><%= @authorization.others %></p>
  <p><%= @authorization.date %></p>
  <p><%= @authorization.acceptance %></p>
  <p><%= @authorization.user_id %></p>
</div>