<%= link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">
<!-- if user_signed_in? %> -->
<li>
<%= link_to('Respuestas', "answers") %>
</li>
<li>
<%= link_to('Areas', "areas") %>
</li>
<li>
<%= link_to('Categorias', "categories") %>
</li>
<li>
<%= link_to('Centro Programa', "center_programs") %>
</li>
<li>
<%= link_to('Centros', "centers") %>
</li>
<li>
<%= link_to('Codigos', "codes") %>
</li>
<li>
<%= link_to('Documentos', "documents") %>
</li>
<li>
<%= link_to('Formatos Encuestas', "format_surveys") %>
</li>
<li>
<%= link_to('Materiales', "materials") %>
</li>
<li>
<%= link_to('Modificar Usuarios', "modify_users") %>
</li>
<li>
<%= link_to('Estacionamientos', "parkings") %>
</li>
<li>
<%= link_to('Porteros', "porters") %>
</li>
<li>
<%= link_to('Programas', "programs") %>
</li>
<li>
<%= link_to('Preguntas', "questions") %>
</li>
<li>
<%= link_to('Registros', "records") %>
</li>
<li>
<%= link_to('Resultados', "results") %>
</li>
<li>
<%= link_to('Rhs', "rhs") %>
</li>
<li>
<%= link_to('Roles', "rols") %>
</li>
<li>
<%= link_to('Fichas', "sheets") %>
</li>
<li>
<%= link_to('Encuestas', "surveys") %>
</li>
<li>
<%= link_to('Equipos', "teams") %>
</li>
<li>
<%= link_to('Turnos', "turns") %>
</li>
<li>
<%= link_to('Tipo Materiales', "type_materials") %>
</li>
<li>
<%= link_to('Tipos Usuarios', "type_users") %>
</li>
<li>
<%= link_to('Tipo Vehiculos', "type_vehicles") %>
</li>
<li>
<%= link_to('Usuarios', "users") %>
</li>
<li>
<%= link_to('Vehiculos', "vehicles") %>
</li>
<!-- else %> -->
<li>
<%= link_to('Login', "") %>
</li>
<!-- end %> -->
<!-- if user_signed_in? %> -->
<li>
<%= link_to('Edit account', "") %>
</li>
<!-- else %> -->
<li>
<%= link_to('Sign up', "") %>
</li>
<!-- end %> -->
</ul>
