<ul class="nav">

  <% if current_user %>

      <% if  can? :update, pages_admin_path %>
           <li><%= link_to "Admin", pages_admin_path %></li>
      <% end %>

      <li><%= link_to('Registrarse', new_user_path,  :remote => true  ) %></li>
      <li><%= link_to "Salir", :logout %></li>
      <li><%= truncate "#{current_user.name }" %></li>
   <% else %>
      <li><%= link_to "Ingresar", :login %></li>
      <li><%= link_to('Sugerencias', new_suggestion_path,  :remote => true) %></li>
   <% end %>
</ul>


